<% content_for(:title) { '記事一覧' } %>

<div class="articles">
  <h2 id="search-word">New</h2>
  <%= form_with url: search_articles_path, method: :get do |form| %>
    <%= form.check_box :for_engineer, {checked: true}, true, false %>
    <%= form.label :for_engineer %>
    <%= form.check_box :for_designer, {checked: true}, true, false %>
    <%= form.label :for_designer %>
    <%= form.submit "表示" %>
  <% end %>
  <div id="res-articles">
    <%= render "articles/shared/search_results", articles: @articles %>
  </div>
</div>

<div class="search-content">
  <span id="close-search">×</span>
  <%= image_tag "black-logo", class: "mobile-search-logo" %>
  <%= render "articles/shared/search_form" %>
</div>

<%= javascript_pack_tag "mobile_menu" %>
