<header>
  <div class="header-logo">
    <%= image_tag "black-logo" %>
  </div>
  <div class="header-links">
    <%= link_to "About", root_path %>
    <%= link_to "New", root_path %>
    <%= link_to "Feature", features_path %>
  </div>
  <div class="hamburger-wrapper">
    <%= image_tag "hamburger", id: "hamburger" %>
  </div>
</header>
