<% if current_owner %>
  <%= image_tag "plus", id: "plus-btn" %>
  <div id="owner-menu">
    <%= link_to new_article_path do %>
      <%= image_tag "new-article" %>
      <span>新規記事を作成</span>
    <% end %>
    <%= link_to draft_articles_path do %>
      <%= image_tag "draft" %>
      <span>下書きをみる</span>
    <% end %>
    <%= link_to new_feature_path do %>
      <%= image_tag "new-feature" %>
      <span>新規特集を作成</span>
    <% end %>
    <%= image_tag "close-menu", id: "close-menu" %>
  </div>

  <%= javascript_pack_tag "owner_menu" %>
<% end %>
